h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
  }

  p {
    color: red;
    font-family: courier;
    font-size: 160%;
  }

ol,ul{
    margin-left: 20px;
}

img{
    max-width: 50%;
    border:20px solid #ccc;
    margin: 20px 0%;
}

table{
    border-collapse: collapse;
    width:100%;
  } 
  
  th, td {
    border: 1px solid #999;
    padding:8px;
    text-align: left;

  }